{% extends 'base.html.twig' %}

{% from 'macro.html.twig' import array_data %}

{% block header %}
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('rocket_overview') }}">Rockets</a></li>
                    <li class="breadcrumb-item active">{% if rocket is defined %}{{ rocket.name }}{% else %}Rocket{% endif %}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if rocket is defined %}
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">{{ rocket.name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if rocket.flickrImages | length > 0 %}
                                <div class="col-md-3">
                                    {% for image in rocket.flickrImages | slice(0,4) %}
                                        <img class=" pb-3" src="{{ image }}" alt="{{ rocket.name }}"
                                             style="max-width: 100%;"/>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="col-md-9">
                                <p>{{ rocket.description }}</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>General info</h2>
                                        <p>
                                            <b>Name: </b>{{ rocket.name }}<br>
                                            <b>Country: </b>{{ rocket.country }}<br>
                                            <b>Company: </b>{{ rocket.company }}<br>
                                            <b>Type: </b>{{ rocket.type }}<br>
                                            <b>Active: </b>{{ rocket.active ? 'Yes':'No' }}<br>
                                            <b>Stages: </b>{{ rocket.stages }}<br>
                                            <b>Boosters: </b>{{ rocket.boosters }}<br>
                                            <b>Cost per launch: </b>{{ rocket.costPerLaunch | format_currency('USD') }}
                                            <br>
                                            {% if rocket.successRatePct > 0 %}
                                                <b>Success Rate: </b>{{ rocket.successRatePct }}%<br>
                                            {% endif %}
                                        </p>
                                        <p>
                                            <b>Mass: </b><br>
                                            {% for label, data in rocket.mass %}
                                                <span class="pl-3">
                                        <b>{{ label }}:</b> {{ data }}<br>
                                    </span>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            <b>Diameter: </b><br>
                                            {% for label, data in rocket.diameter %}
                                                <span class="pl-3">
                                        <b>{{ label }}:</b> {{ data }}<br>
                                    </span>
                                            {% endfor %}
                                        </p>
                                    </div>


                                    <div class="col-md-4">
                                        <h2>First Stage</h2>
                                        <p>
                                            {{ array_data(rocket.firstStage) }}
                                        </p>
                                    </div>
                                    <div class="col-md-4">

                                        <h2>Second Stage</h2>
                                        <p>
                                            {{ array_data(rocket.secondStage) }}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h2>Engines: </h2>
                                        <p>
                                            {{ array_data(rocket.engines) }}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h2>Extra Info</h2>
                                        <p>
                                            <b>Landing Legs: </b><br>
                                            {{ array_data(rocket.landingLegs) }}
                                        </p>
                                        <p>
                                            <b>Payload Weights: </b><br>
                                            {{ array_data(rocket.payloadWeights) }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
