{% extends 'base.html.twig' %}

{% block header %}

    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Crew</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active"><a href="#">Crew</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Crew</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Agency</th>
                            <th scope="col">Status</th>
                            <th scope="col">Launches</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% if crewMembers is defined %}
                            {% for crewMember in crewMembers %}
                                <tr class="tr-clickable" onclick="window.location='{{ path("crew_detail", {"id": crewMember.id}) }}'">
                                    <th scope="row">
                                        {{ crewMember.name }}
                                    </th>
                                    <td>
                                        {{ crewMember.agency }}
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="{% if crewMember.isActive %}bg-success{% else %}bg-warning{% endif %}"></i>
                                            <span class="status">{{ crewMember.status }}</span>
                                        </span>
                                    </td>
                                    <td>
                                        {{ crewMember.launches | length }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
