{% extends 'base.html.twig' %}

{% block header %}

    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active"><a href="#">Ships {% if ships is defined %}({{ ships|length }}){% endif %}</a></li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Ships</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Legacy ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Home Port</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% if ships is defined %}
                            {% for ship in ships %}
                                <tr class="tr-clickable" onclick="window.location='{{ path("ship_detail", {"id": ship.id}) }}'">
                                    <th scope="row">
                                        {{ ship.legacyId }}
                                    </th>
                                    <td>
                                        {{ ship.name }}
                                    </td>
                                    <td>
                                        {{ ship.type }}
                                    </td>
                                    <td>
                                        {{ ship.homePort }}
                                    </td>
                                    <td>
                                        {{ ship.roles | join(', ') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
